:root {
    --header-nav-background-color:#E76C1F ;
    --reviews-background-color: #FACAAC;
    --fontColor-color: #363534;
    --font-weight-normal: 400;
    --font-weight-fat: 700;
    --font-family-one:"Palanquin", sans-serif ;
    --font-family-two:"Palanquin Dark", sans-serif ;
}


body{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.navbarHeader {
    height: 128px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--header-nav-background-color);
}


.navbarHeader nav {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo2 {
    padding-left: 120px;
    width: 92px;
    height: 38px;
    gap: 4px;
}


.headerPhoto {
    height: 439px;
    opacity: 1;
    background-image: url(./assets/img/header-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.burgerBigLogo {
    width: 200px;
    height: 200px;
    padding-top: 332px;
    /* left: 620px; */
    border-width: 13px;
}


.burgerBigLogo img {
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 100px;
    border-color:  #FDEADC;
    border-width: 13px;
}


.headerTitle {
    width:100%;
    height: 243px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.headerSlogan {
    font-family: var(--font-family-one);
    font-weight: var(--font-weight-fat);
    font-size: 24px;
    text-align: center;
}


.title {
    height: 75px;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: var(--font-family-two);
    font-weight: var(--font-weight-fat);
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: var(--font-family-one);
    font-weight: var(--font-weight-fat);
    font-size: 40px;
    background-color: var(--header-nav-background-color);
    height: 60px;
    margin: 0;


}


.titleColorOrange {
    color: var(--header-nav-background-color);
}


.titleColorBlack {
    color: var(--fontColor-color);
}


.reviews {
    width: 110px;
    height: 32px;
    opacity: 1;
    gap: 8px;
    border-radius: 4px;
    padding: 4px 5px;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--reviews-background-color);
}


.reviews img  {
    width: 24px;
    height: 23px;
    border-radius: 0.5px;
}


.reviewsRating {
    font-family: var(--font-family-two);
    font-weight: var(--font-weight-normal);
    font-size: 20px;
    margin: 0;

}


.reviewsVote {
font-family: var(--font-family-one);
font-weight: var(--font-weight-normal);
font-size: 18px;
margin: 0;

}


footer {
    width: 100%;
    height: 128px;
    gap: 10px;
    box-sizing: border-box;
    padding: 32px 0;
    background-color: var(--header-nav-background-color);
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer section {
    width: 530px;
    height: 24px; 
    gap: 72px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer p {
font-family: var(--font-family-one);
font-weight: var(--font-weight-normal);
font-size: 18px;
}


.copyright {
width: 180px;
height: 24px;
gap: 4px;
display: flex;
justify-content: center;
align-items: center;
}


.copyrightImg {
    width: 24px;
    height: 24px;
}


/* main */

main {
    width: 100%;
    height: auto;
}

.sectionCourt {
    /* max-width: 1440px; */
    width: 100%;
    height: auto;
}

.sectionHeader {
    
    width: 100%;
    height: 60px;
    display: flex;
    background-color: var(--header-nav-background-color);
    justify-content: center;
    align-items: center;

}

.sectionTitle {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.sectionCourtLogo {
    width: 90px;
    height: 90px;
}

.sectionCourtLogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}