

/* Nav Bar */



/* Das Burger-Icon ist JETZT IMMER sichtbar */
.burger-bar {
    padding-right: 70px;
    width: 60px;
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 101; /* Damit es über dem Menü liegt */
}


.bar {
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
    width: 40px;
    height: 5px;
    background-color: white;
    transition: 0.3s;
}


/* Das Menü ist standardmäßig versteckt (rechts außerhalb) */
.nav-links {
    position: fixed;
    right: -100%; /* Komplett aus dem Bild geschoben */
    top: 128px;
    width: 300px; /* Breite des Menüs */
    height: 128px; /* Volle Bildschirmhöhe */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    transition: 0.4s ease-in-out; /* Sanftes Gleiten */
    margin: 0;
    padding: 0;
}


/* Wenn 'active' per JS hinzugefügt wird, gleitet es rein */
.nav-links.active {
    right: 0;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.buttenAddBasket {
    font-size: 16px;
    border: 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #363534;
}