/* Nav Bar */
/* Das Burger-Icon sichtbar */
.burger-bar {
    padding-right: 70px;
    width: 60px;
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 101; /* Damit es über dem Menü liegt */
}


.bar {
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
    width: 40px;
    height: 5px;
    background-color: white;
    transition: 0.3s;
}


/* Das Menü ist standardmäßig versteckt (rechts außerhalb) */
.nav-links {
    position: fixed;
    right: -100%; /* Komplett aus dem Bild geschoben */
    top: 128px;
    width: 300px; /* Breite des Menüs */
    height: 128px; /* Volle Bildschirmhöhe */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    transition: 0.4s ease-in-out; /* Sanftes Gleiten */
    margin: 0;
    padding: 0;
}


/* Wenn 'active' per JS hinzugefügt wird, gleitet es rein */
.nav-links.active {
    right: 0;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


/* basket */
.buttonBar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}


.basketSection {
/* right: -100%; Komplett aus dem Bild geschoben */
     grid-column: 2; 
    /* rechte Spalte */
    grid-row: 1; 
    /* gleiche Reihe wie Menü -> Overlap möglich */
    
    position: sticky; 
    /* klebt beim Scrollen */
    top: 0; 
    /* klebt am oberen Rand innerhalb von main/Scroll-Kontext */

    z-index: 1; 
    /* liegt über dem Menü */

    justify-self: end; 
    /* am rechten Rand der Spalte ausrichten */
}


.basket {
    width: 100%; /* Breite des Menüs */
    height: 60vh; /* Volle Bildschirmhöhe */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    list-style: none;
    transition: 0.4s ease-in-out; /* Sanftes Gleiten */
    margin: 0;
    box-sizing: border-box;
    padding: 16px 16px;
}


.basketHeader {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
}


.basketContents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


.basketHeader h2 {
    font-size: 36px;
    background-color: #444;
    height: auto;  
}


.closeButton {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
}


.closeButton:hover {
    background-color: #f7b185;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* Klick Effekt */
.closeButton:active {
    transform: scale(0.96);
}


.basketContents img {
    height: 130px;
    width: 130px;
}


.basketContents p {
    text-align: center;
    padding-bottom: 36px;
}


/* Wenn 'active' per JS hinzugefügt wird, gleitet es rein */
.nav-links.active {
    right: 0;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.buttenAddBasket {
    font-size: 16px;
    border: 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #363534;
}


.buttonPrice {
    width: 120px;
    height: 120px;
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    flex-shrink: 0;
}


.buttonPrice button {
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
}


.buttonPrice button:hover {
    background-color: #f7b185;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* Klick Effekt */
.buttonPrice button:active {
    transform: scale(0.96);
}
