

/* Nav Bar */



/* Das Burger-Icon ist JETZT IMMER sichtbar */
.burger-bar {
    padding-right: 70px;
    width: 60px;
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 101; /* Damit es über dem Menü liegt */
}


.bar {
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
    width: 40px;
    height: 5px;
    background-color: white;
    transition: 0.3s;
}


/* Das Menü ist standardmäßig versteckt (rechts außerhalb) */
.nav-links {
    position: fixed;
    right: -100%; /* Komplett aus dem Bild geschoben */
    top: 128px;
    width: 300px; /* Breite des Menüs */
    height: 128px; /* Volle Bildschirmhöhe */
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    transition: 0.4s ease-in-out; /* Sanftes Gleiten */
    margin: 0;
    padding: 0;
}


/* Wenn 'active' per JS hinzugefügt wird, gleitet es rein */
.nav-links.active {
    right: 0;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.buttenAddBasket {
    font-size: 16px;
    border: 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #363534;
}


.buttonPrice {
    width: 120px;
    height: 120px;
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    flex-shrink: 0;
}

.buttonPrice button {
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;


}

.buttonPrice button:hover {
    background-color: #f7b185;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Klick Effekt */
.buttonPrice button:active {
    transform: scale(0.96);
}


/* =========================
   DIALOG TEMPLATE
   ========================= */

/* Grundzustand */
dialog {
    width: 50vw; /* 50% der Viewport-Breite */
    height: 75vh; /* 75% der Viewport-Höhe */

    background-color: rgb(148, 137, 137); /* Hintergrundfarbe */

    box-sizing: border-box; 
    /* Padding & Border werden in Breite/Höhe eingerechnet */

    border: none; /* entfernt Standard-Browser-Rahmen */
    border-radius: 5%; /* abgerundete Ecken */

    transform: translateY(-20px); 
    /* Startposition leicht nach oben verschoben */

    opacity: 0; 
    /* unsichtbar im Startzustand */

    transition: all 0.3s ease; 
    /* weiche Animation für Öffnen */
}


/* Aktiver Zustand */
dialog.opened {
    border: 5px solid rgba(13, 87, 31, 0.278); 
    /* Rahmen wenn Dialog aktiv ist */

    transform: translateY(0); 
    /* fährt an normale Position */

    opacity: 1; 
    /* wird sichtbar */
}


/* Hintergrund (Overlay) */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
    /* dunkler Overlay-Hintergrund */

    opacity: 0; 
    /* Start: unsichtbar */

    transition: opacity 0.3s ease; 
    /* weiche Einblendung */
}


/* Aktiver Hintergrund */
dialog.opened::backdrop {
    opacity: 1; 
    /* Overlay wird sichtbar */
}