
.basketLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1;
}


.basketSection {
    width: 320px;
    height: 100%;
    display: none;
    pointer-events: auto;
}


.basketLayer.open .basketSection {
    display: flex;
    pointer-events: auto;
}


.basket {
    width: 100%; 
    height: 600px; 
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    list-style: none;
    transition: 0.4s ease-in-out;
    margin: 0;
    box-sizing: border-box;
    padding: 16px 16px;
    position: sticky;
    top: 0; 
}


.basketHeader {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
}


.basketHeader h2 {
    font-size: 36px;
    background-color: #444;
    height: auto; 
    margin: 0; 
}


.closeButton {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: white;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
}


.closeButton:hover {
    background-color:var(--reviews-background-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.closeButton:active {
    transform: scale(0.96);
}


.basketContents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    gap: 10px;
}


.basketContents img {
    height: 130px;
    width: 130px;
}


.basketContents a {
    text-decoration: none;
    color: black ;
}


.basketContents p {
    padding-bottom: 36px;
}


.basketMenu {
    width: 100%;
    height: 100px;
    border-radius: 20px;   
    background-color: var(--reviews-background-color);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: black; 
    gap: 10px;
}


.basketMenu p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}


.basketFoodName { 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 1.2;
}


.basketFoodPrice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.basketButtonBar {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basketButtonBar img {
    width: 24px;
    height: 24px;
}


.moreMenu {
    background-color: var(--reviews-background-color);
}


/* button bar for basket */
.basketButtonBar button {
    height: 30px;
    width: 25px;
    padding: 0;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
    border: none;
}


.basketButtonBar button:hover {
    background-color: #f7b185;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.basketButtonBar button:active {
    transform: scale(0.96);
}


.basketBackground {
    width: 100%;
    max-width: 375px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.basketBackground img {
    height: 120px;
    width: 120px;
    padding: 20px;
}


/* footer basket */
.basketFooter {
    width: 100%;
    height: auto;
    padding: 16px;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}


table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}


tfoot {
    border-top: 3px solid white;  
}


tr {
    width: 100%;
}


th {
    text-align: left;
    padding: 5px 10px; 
}


td {
    text-align: right;
    padding: 5px 10px;
}


.basketFooter button {
    height: 50px;
    width: 100%;
    font-size: 16px;
    padding: 0;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    background-color: #f7b185;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
}


.basketFooter button:hover { 
    background-color:  var(--reviews-background-color);
     transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* dialog basket */
dialog {
    width: 420px;
    height: 270px;
    background-color: #363534;
    box-sizing: border-box;
    border-radius: 30px;
}


dialog.opened {
    border-radius: 5%;
    transform: translateX(0);         
}


dialog::backdrop {
    opacity: 0;                       
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 1s ease-in;       
}


dialog.opened::backdrop {
    opacity: 1;                       
    transition: all 1s ease-in;        
}


.heroDialog {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


.dialogHeader {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.dialogContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.closeButtonDialog {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: white;
    transition:
        background-color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.3s ease;
}


.closeButtonDialog:hover {
    background-color:var(--reviews-background-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.closeButtonDialog:active {
    transform: scale(0.96);
}


/* Tablet */
@media (min-width: 574px) and (max-width: 1024px) {
.basketSection {
    width: 250px;
    max-width: calc(1440px - 280px);;
    height: 100%;
}


.basket {
    width: 100%; 
    height: 500px; 
    gap: 8px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px 10px;
    top: 0;
    margin-top: 16px;
}


.basketHeader {
    width: 100%;
    height: 60px;
}


.basketHeader h2 {
    font-size: 32px; 
    margin: 0;
    padding-top: 0px; 
}


.basketMenu {
    width: 100%;
    height: 100px;
    border-radius: 10px;   
    padding: 10px 10px; 
    gap: 6px;
    line-height: 1.2;
}


.basketMenu p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}


.basketFoodName { 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.basketFoodPrice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.basketButtonBar {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}


/* Smartphone */
@media (min-width: 300px) and (max-width: 575px) {
  .basketSection {
    width: 100vw;
    height: 100%;
}


.basket {
    width: 100%; 
    height: 90vh; 
    gap: 8px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 10px 10px;
    top: 0;
    right: 0;
    margin-top: 0;
        position: fixed;
}


.basketHeader {
    width: 100%;
    height: 60px;
}


.basketHeader h2 {
    font-size: 32px; 
    margin: 0;
    padding-top: 0px; 
}


.basketContents {
    width: 100%;
    max-width: 375px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    gap: 10px;
}


.basketMenu {
    width: 100%;
    height: 100px;
    border-radius: 10px;   
    padding: 10px 10px; 
    gap: 6px;
    line-height: 1.2;
}


.basketMenu p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}


.basketFoodName { 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.basketFoodPrice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.basketButtonBar {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basketFooter {
    max-width: 375px;
    margin: 0;
}
}


/* Utility Classes */
.off {
    display: none;
}